body {
  background-color: black;
}

.Bank {
  display: block;
  width: 300px;
  height: 400px;
  margin: 50px auto;
  background-color: rgb(244, 249, 253);
}

.Index {
  position: absolute;
  top: 50px;
  width: 300px;
}

#title {
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 0%;
}

#subTitle {
  margin-top: 0%;
}

.FunctionList {
  position: absolute;
  top: 400px;
  bottom: 0px;
  width: 300px;
  border-top: 0.5px solid rgb(204, 204, 204);
  margin-block-end: 1%;
}

.FunctionList button {
  width: 25%;
  height: 60px;
  display: inline-block;
  background-color: rgb(244, 249, 253);
  border: 0.5px solid rgb(244, 249, 253);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: rgb(202, 202, 202);
}