.indexPage {
  position: absolute;
  width: 100%;
}

.title {
  position: relative;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 0%;
}

.subTitle {
  height: 20px;
  margin: 0%;
}

.login {
  display: inline-block;
  width: 500px;
}
.hole {
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
}

.card {
  display: table;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 150px;
  border: 2px solid rgb(104, 59, 32);
  background-color: rgb(245, 95, 20);
  cursor: pointer;
}

.arrow {
  display: table-row;
  text-align: right;
  font-weight: 900;
  font-size: 30px;
  width: 150px;
  height: 30px;
}

.card span {
  display: table-cell;
  vertical-align: bottom;
  padding: 5%;
  width: 150px;
  height: 120px;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pull {
  display: inline-table;;
  height: 40px;
  text-align: center;
}

.pull div {
  margin-top: 20px;
  padding-top: 5px;
  background-color: rgb(230, 62, 62);
  width: 150px;
  height: 35px;
  border: 3px solid rgb(212, 104, 104);
  border-bottom: 0px;
}

.pull span {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}