.checkAmount {
  display: inline-block;
  margin-top: 90px;
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
}

.amount {
  display: inline-table;
  text-align: left;
  margin-top: 20px;
  padding-left: 5%;
  width: 300px;
  height: 75px;
  background-color: white;
  border-bottom: 5px solid black;
}

.amount span {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
}

.submitDiv {
  display: inline-block;
  width: 400px;
}

.submit .submitDiv {
  margin-top: 100px;
}

.submitButton {
  display: inline-table;
  margin-right: 10px;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.confirmButton {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(217, 243, 214);
}

.cancelButton {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(250, 225, 225);
}

.submitButton span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
}
